<template>
  <div class="margin-top">
    <Carousel @next="showNext" @prev="showPrev">
      <CarouselSlide v-for="(image, index) in images" :key="index" :index="index" :visibleImage="visibleImage">
        <img :src="image" :alt="image" />
      </CarouselSlide>
    </Carousel>
    <div class="text-center">
      <span
        v-for="(image, index) in images"
        :key="image"
        class="dots"
        @click="gotoImg(index)"
        :class="{ 'dot-active': currentImg === index }"
      ></span>
    </div>
    <HorizontalSlider />
  </div>

  



</template>
<script>
//import ItemList from '@/components/ItemList.vue';
import { viewDetailMixin } from '@/mixins/viewDetailMixin';
import Carousel from '../components/Carousel';
import CarouselSlide from '../components/CarouselSlide';
import HorizontalSlider from '../components/HorizontalSlider';

export default {
  name: 'HomeView',
  mixins: [viewDetailMixin],
  components: { Carousel, CarouselSlide, HorizontalSlider },
  data() {
    return {
        images: [
        'https://picsum.photos/id/237/700/400',
        'https://picsum.photos/id/238/700/400',
        'https://picsum.photos/id/239/700/400',
        'https://picsum.photos/id/240/700/400',
        'https://picsum.photos/id/241/700/400',
      ],
      visibleImage: 0,
    };
  },
   computed: {
    slideLength() {
      return this.images.length;
    },

    currentImg() {
      return this.visibleImage;
    },
  },

  methods: {
    showNext() {
      if (this.visibleImage >= this.slideLength - 1) {
        this.visibleImage = 0;
      } else {
        this.visibleImage++;
      }
    },
    gotoImg(index) {
      this.visibleImage = index;
    },
    showPrev() {
      if (this.visibleImage <= 0) {
        this.visibleImage = this.slideLength - 1;
      } else {
        this.visibleImage--;
      }
    },
  },
};
</script>

<style lang="scss" >
img {
  width: 100%;
}

.container {
  overflow: hidden;
  padding: 0;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 450px;
  z-index: 10;
}
.btn {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  margin: 5px 10px;
  color: #fff;
  height: 50px;
  width: 50px;
  position: absolute;
  margin-top: -25px;
  z-index: 2;
}
.btn:hover {
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn-next {
  top: 50%;
  right: 0;
}
.btn-prev {
  top: 50%;
  left: 0;
}
.carousel-slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.carousel-slider img {
  width: 100%;
  height: 100%;
}

.dots {
  height: 15px;
  width: 15px;
  background-color: rgb(110, 110, 110);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.text-center {
  text-align: center;
  /* margin-top: 30px; */
  margin: 30px;

  .dots {
    margin: 0px 10px;
  }

  .dot-active {
    background-color: #fff;
  }
}
</style>