<template>
  <div>
    <h2 class="title">
      <font-awesome-icon 
        icon="film" 
        size="1x" />&nbsp;
        Upcoming Movies
      </h2>
  </div>
</template>

<script>
export default {
  name: 'MoviesView',
};
</script>

<style lang="scss" scoped>
</style>