<template>
  <div>
    <h2 class="title">
      <font-awesome-icon 
        icon="film" 
        size="1x" />&nbsp;
        SETTINGS VIEW
      </h2>
      </div>
</template>

<script>

export default {
  name: 'SettingsView',
};
</script>

<style lang="scss" scoped>
</style>