<template>
  <div>
    <h2 class="title">
      <font-awesome-icon 
        icon="tv" 
        transform="shrink-3"
        size="1x" />&nbsp;
        TV Shows On Air
      </h2>
     </div>
</template>

<script>

export default {
  name: 'TvShowsView',
};
</script>

<style lang="scss" scoped>
</style>