<template>
  <div class="container">
    <nav>
      <div class="left-side">
        <ul>
          <li>
            <img src="../assets/Search.svg" alt="Logo" />
          </li>
          <li v-for="(link, index) in links" :tabindex="index" :key="index" @keydown="keyEvents" :href="link.url" :class="nav-list" >
              <router-link :to="link.url" @click="resetSearch">
               <span>{{ link.text }}</span>
              </router-link>
          </li>
        </ul>
      </div>
      <div class="right-side">
        <div class="now-playing">
          <i class="fas fa-music"></i>
          <span>Playing: Taylor Swift</span>
        </div>

        <div class="notifications">
           <img src="../assets/notification.svg" alt="" />
          <span class="badge">9+</span>
        </div>

        <div class="logo">
          <img src="../assets/vlivelogo.png" alt="logo" />
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
//import AppSearch from '@/components/AppSearch';
import * as mykey from '../assets/keys.js'
import { keyEventsMixin } from "@/mixins/keyEventsMixin";
export default {
  name: 'AppNavigation',
  mixins: [keyEventsMixin],
  // components: { AppSearch },
  data() {
    return {
      links: [
        {
          url: '/home',
          text: 'Home',
          icon: 'star',
          transform: 'shrink-7'
        },
        {
          url: '/movies',
          text: 'Movies',
          icon: 'film',
          transform: 'shrink-6'
        },
        {
          url: '/tv-shows',
          text: 'Tv Show',
          icon: 'tv',
          transform: 'shrink-8'
        },
         {
          url: '/live',
          text: 'Live',
          icon: 'film',
          transform: 'shrink-6'
        },
         {
          url: '/music',
          text: 'Music',
          icon: 'film',
          transform: 'shrink-6'
        },
         {
          url: '/watchlist',
          text: 'Watch List',
          icon: 'film',
          transform: 'shrink-6'
        },
        {
          url: '/settings',
          text: 'Settings',
          icon: 'film',
          transform: 'shrink-6'
        },
      ],
      keyValue: mykey.LEFT
    };
  },
  methods: {
    
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import "../scss/_variables.scss";
@import "../scss/_mixins.scss";
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-weight: 700;

  .left-side {
    ul {
      display: flex;
      list-style: none;
      align-items: center;

      li {
        margin: 0px 10px;

        &:hover {
          background-color: #424342;
          cursor: pointer;
          border-radius: 10px;
        }

        img {
          height: 16px;
          width: 16px;
          margin: 5px 5px;
        }

        img path {
          fill: #ffffff4d;
        }

        a {
          text-decoration: none;
          color: #ffffff4d;
          font-size: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 5px;
          .dots {
            margin-left: 8px;
            height: 10px;
            width: 10px;
            background-color: red;
          }

          & .router-link-active,
          & .router-link-exact-active {
            background-color: #424342;
            cursor: pointer;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .right-side {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    div {
      margin: 0px 10px;
    }

    i {
      color: white;
    }

    .now-playing {
      background: lighten(#141414, 20%);
      padding: 10px 25px 10px 8px;
      border-radius: 30px;
      font-size: 16px;
      i {
        margin: 0px 10px;
      }
    }

    .notifications {
      img {
        width: 100%;
      }

      height: 25px;
      width: 25px;
      position: relative;
      // padding-top: 20px;
      display: inline-block;
      cursor: pointer;
      .badge {
        position: absolute;
        right: -5px;
        top: -5px;
        background: red;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: white;
        padding: 5px 5px;
        font-size: 10px;
      }
    }

    .logo {
      img {
        height: 48px;
        // width: 122px;
      }
    }
  }
}


</style>

