<template>
  <div class="container carousel">
    <slot></slot>

    <button class="btn btn-prev" @click="prev"><i class="fa fa-angle-left"></i></button>
    <button class="btn btn-next" @click="next"><i class="fa fa-angle-right"></i></button>
  </div>
</template>

<script>
export default {
  methods: {
    next() {
      this.$emit('next');
    },
    prev() {
      this.$emit('prev');
    },
  },
};
</script>

<style scoped lang="scss">
.container {
  overflow: hidden;
  padding: 0;
}
</style>
