<template>
  <div class="container">
    <div class="wrapper">
      <h3 class="section-title">Continue Watching</h3>
      <div class="scrolling-section">
          <div class="row scrolling-wrapper">
            <ul>
              <li v-for="(img,index) in images" :tabindex="index" :key="index" @keydown="keyEvents" class="column card">
                <img :src="img" alt="Snow" style="width:100%">
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="wrapper">
      <h3 class="section-title">Recomended for you</h3>
      <div class="scrolling-section">
          <div class="row scrolling-wrapper">
            <ul>
              <li v-for="(img,index) in images" :tabindex="index" :key="index" @keydown="keyEvents" class="column card">
                <img :src="img" alt="Snow" style="width:100%">
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="wrapper">
      <h3 class="section-title">New Releases</h3>
      <div class="scrolling-section">
          <div class="row scrolling-wrapper">
            <ul>
              <li v-for="(img,index) in images" :tabindex="index" :key="index" @keydown="keyEvents" class="column card">
                <img :src="img" alt="Snow" style="width:100%">
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import { keyEventsMixin } from "@/mixins/keyEventsMixin";
export default {
   name: 'HorizontalSlider',
  mixins: [keyEventsMixin],
   data() {
    return {
      images: [
        'https://picsum.photos/id/237/700/400',
        'https://picsum.photos/id/238/700/400',
        'https://picsum.photos/id/239/700/400',
        'https://picsum.photos/id/240/700/400',
        'https://picsum.photos/id/241/700/400',
      ],
      visibleImage: 0,
    };
   }
};
</script>

<style lang="scss">
.section-title {
    color: #fff;
    font-family: GothamHTF-Bold;
    font-size: 20px;
    margin: 20px 0;
    text-transform: uppercase;
}
ul {
  border-collapse: collapse
}

.scrolling-section {
    overflow: hidden;
    min-height: 144px;
    //max-height: 144px;
    display: inline-block;
    width: 100%;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    

}
.column {
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
::-webkit-scrollbar {
    display: none;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  li {
    list-style: none;
  }
  

  .card {
    // width: 125px;
    display: inline-block;
  }
 }
</style>
