<template>
  <div class="container">
    <nav>
      <div class="left-side">
        <ul>
          <li>
            <img src="../assets/Search.svg" alt="Logo" />
          </li>
          <li class="active-class">
            <a><router-link to="/">Home</router-link></a>
          </li>
          <li>
            <a><router-link to="/movies">Movies</router-link></a>
          </li>
          <li>
            <a><router-link to="/tv-shows">TV Show</router-link></a>
          </li>
          <li>
            <a
              ><router-link to="/live-tv">Live <span class="dots"></span> </router-link
            ></a>
          </li>
          <li>
            <a><router-link to="/music">Music</router-link></a>
          </li>
          <li>
            <a><router-link to="/watchlist">Watchlist</router-link></a>
          </li>
          <li>
            <a><router-link to="/settings">Settings</router-link></a>
          </li>
        </ul>
      </div>

      <div class="right-side">
        <div class="now-playing">
          <i class="fas fa-music"></i>
          <span>Playing: Taylor Swift</span>
        </div>

        <div class="notifications">
          <img src="../assets/notification.svg" alt="" />
          <span class="badge">9+</span>
        </div>

        <div class="logo">
          <img src="../assets/logo.png" alt="logo" />
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-weight: 700;

  .left-side {
    ul {
      display: flex;
      list-style: none;
      align-items: center;

      li {
        margin: 0px 10px;

        &:hover {
          background-color: #424342;
          cursor: pointer;
          border-radius: 10px;
        }

        img {
          height: 16px;
          width: 16px;
          margin: 5px 5px;
        }

        img path {
          fill: #ffffff4d;
        }

        a {
          text-decoration: none;
          color: #ffffff4d;
          font-size: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 5px;
          .dots {
            margin-left: 8px;
            height: 10px;
            width: 10px;
            background-color: red;
          }

          & .router-link-active,
          & .router-link-exact-active {
            background-color: #424342;
            cursor: pointer;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .right-side {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    div {
      margin: 0px 10px;
    }

    i {
      color: white;
    }

    .now-playing {
      background: lighten(#141414, 20%);
      padding: 10px 25px 10px 8px;
      border-radius: 30px;
      font-size: 16px;
      i {
        margin: 0px 10px;
      }
    }

    .notifications {
      img {
        width: 100%;
      }

      height: 25px;
      width: 25px;
      position: relative;
      // padding-top: 20px;
      display: inline-block;
      cursor: pointer;
      .badge {
        position: absolute;
        right: -5px;
        top: -5px;
        background: red;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: white;
        padding: 5px 5px;
        font-size: 10px;
      }
    }

    .logo {
      img {
        height: 48px;
        // width: 122px;
      }
    }
  }
}
</style>
