<template>
  <div id="app">
      <AppNavigation />
      <router-view />
  </div>
</template>

<script>
import AppNavigation from './components/AppNavigation.vue'


export default {
  name: 'App',
  components: {
    AppNavigation,
   
  }
}
</script>

<style lang="scss">
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono|Titillium+Web:200&display=swap);
@import "./scss/_variables.scss";
@import "./scss/_mixins.scss";
body {
  margin: 0;
  padding: 0;
  background-color: $background-primary;
  font-size: 100%;
  font-family: GothamHTF-Medium;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 10px;
}
</style>
